@font-face {
  font-family: "Roboto";
  src: url(../../fonts/Roboto-Light.ttf) format('truetype');
  font-weight:300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../fonts/OpenSans-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}


