@import "../common/fonts.scss";
@import "../common/reset.scss";
@import "../common/vars.scss";

.wrap {
  width: 100%;
  display: flex; 
}
.wrap__row {
  display: flex;
  justify-content: space-between;
  width: 1180px;
  margin: 0 auto;
  @media (max-width: $middle-screen) {  
    width: 520px;
    flex-direction: column;
    align-items: center;
  }
}  
.item-wrap  {
  width: 360px;
  &_two {
    align-self: center;
  }
  &_one {
    align-self: flex-start;
  }
  &_three {
    align-self: flex-end;
  }    
  &__icon {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
  }
  &__content {
    padding: 60px 30px;
    @media (max-width: $middle-screen) {
      padding: 60px 6px;
    } 
  }
  &__title {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    color: $primary-color;
    margin-bottom: 20px;
  }
  &__text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    overflow-wrap: break-word;
    color: $primary-color;
    margin-bottom: 20px;
  }
  &__more {
    border-bottom: 1px solid $primary-color;
    color: $primary-color;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  }
  @media (max-width: $middle-screen) {
    padding: 30px 10px;
    width: calc(100% - 40px);
  }
}
